.venv/
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/raw/
data/interim/
data/processed/
data/model.joblib

*.pyc
*.$py.class
.env
.coverage
.coverage.*
htmlcov/
desktop.ini
.DS_Store
